MASKQL_HOST=maskql
MASKQL_PORT=443

# Credentials for admin user of MaskQL (Web interface only)
MASKQL_ADMIN_USER=change-me
MASKQL_ADMIN_PASSWORD=change-me

# Secret used to create JWT tokens
MASKQL_JWT_SECRET=change-me-32+chars

# Password used to encrypt data on the fly
MASKQL_ENCRYPT_PASSWORD=change-me-16+chars

# Trino secret
MASKQL_TRINO_SHARED_SECRET=change-me-32+chars


# Optional
# POSTGRES_USER=
# POSTGRES_PASSWORD=
# MASKQL_TRINO_DNS_SEARCH=.  # keep "." to disable search suffix
# MASKQL_TRINO_DNS_SEARCH=domchurs.ad
