MASKQL_HOST=maskql
MASKQL_PORT=443

# Credentials for admin user of MaskQL (Web interface only)
MASKQL_ADMIN_USER=change-me
MASKQL_ADMIN_PASSWORD=change-me

# Secret used to create JWT tokens
MASKQL_JWT_SECRET=change-me-32+chars

# Password used to encrypt data on the fly
MASKQL_ENCRYPT_PASSWORD=change-me-16+chars

# Optional
# POSTGRES_USER=
# POSTGRES_PASSWORD=