
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/
*.log

# venv / uv
.venv/
.uv-cache/
.uv/
.uv_lock/

# Tox
.tox/
.coverage
htmlcov/
.pytest_cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml
.env
*.pid
*.seed
tmp/
logs/

# OS files
.DS_Store
Thumbs.db

# Trino / Config runtime
etc/
config/*.local.yml
config/*.secrets.yml
config/*.bak
secrets/

/certs/*
!certs/.gitkeep

# MaskQL
maskql/tls/cert.pem
maskql/tls/key.pem

# Maskql-ACL
trino/plugins/maskql-plugin/target/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/extensions.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

install
